[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/2001302/llama.cpp.git
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/2001302/stable-diffusion.cpp.git
